---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ExpLaboralIcon from "../components/icons/ExpLaboralIcon.astro";
interface Props {
   TEXTS: string[];
}
const { TEXTS } = Astro.props;
---

<SectionContainer aditionalClass="flex flex-col" id="experiencia">
   <div class="flex gap-3 items-center">
      <ExpLaboralIcon />
      <SectionTitle title={TEXTS[0]} />
   </div>
   <ol class="mt-4 relative border-s border-gray-500 dark:border-gray-700">
      <li class="mb-10 ms-4">
         <div
            class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
         >
         </div>
         <time
            class="mb-1 font-normal leading-none text-gray-400 "
            >{TEXTS[1]}</time
         >
         <h3 class="font-semibold text-black dark:text-white">
            {TEXTS[2]}
         </h3>
         <p class="mb-4 font-normal text-gray-600 dark:text-gray-300">
            {TEXTS[3]}
         </p>
      </li>
      <li class="ms-4">
         <div
            class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
         >
         </div>
         <time
            class="mb-1 font-normal leading-none text-gray-400"
            >{TEXTS[4]}</time
         >
         <h3 class="font-semibold text-black dark:text-white">
            {TEXTS[5]}
         </h3>
         <p class="mb-4 font-normal text-gray-600 dark:text-gray-300">
            {TEXTS[6]}
         </p>
      </li>
   </ol>
</SectionContainer>
