---
import GitHub from "../components/icons/GitHub.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import Link from "../components/Link.astro";
import LinkButton from "../components/LinkButton.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import { TECHS } from "../utils/TECHS";

const PROJECTS = [
   {
      title: "Personal Resources",
      description:
         "Sitio web con los recursos que he estado guardando relacionados con el desarrollo web.",
      link: "https://personal-resources.vercel.app/",
      github: "https://github.com/faustocalvinio/personal-resources",
      image: "/screenshots-proyectos/personal-resources.vercel.app_.webp",
      techs: [TECHS.ASTRO, TECHS.TAILWIND],
   },
   {
      title: "Personal Blog",
      description:
         "Blog donde compartiré cosas relacionadas con el desarrollo web a medida que las aprenda, con el objetivo de solidificar mis conocimientos.",
      link: "https://blog-fausto.netlify.app/",
      github: "https://github.com/faustocalvinio/blog-fausto",
      image: "/screenshots-proyectos/blog-fausto.netlify.app_.png",
      techs: [TECHS.ASTRO, TECHS.TAILWIND],
   },
   // {
   //    title: "Backend API Cars",
   //    description: "Proyecto Backend",
   //    link: "https://blog-fausto.netlify.app/",
   //    github: "https://github.com/faustocalvinio",
   //    image: "/screenshots-proyectos/placeholder-proyecto.jpg",
   //    techs: [TECHS.EXPRESSJS, TECHS.MONGODB],
   // },
   {
      title: "Frontend API Cars",
      description:
         "Proyecto similar a un dashboard de administracion consumiendo la API creada en el proyecto anterior.",
      link: "https://blog-fausto.netlify.app/",
      github: "https://github.com/faustocalvinio",
      image: "/screenshots-proyectos/dashboard-frontend-api.webp",
      techs: [TECHS.REACT, TECHS.ZUSTAND, TECHS.REACTQUERY],
   },
];
---

<SectionContainer id="proyectos">
   <div class="flex gap-3 items-center">
      <ProjectsIcon />
      <SectionTitle title="Proyectos" />
   </div>
   <div class="flex flex-col gap-y-16 mt-4">
      {
         PROJECTS.map(({ image, title, description, techs, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
               <div class="w-full md:w-1/2">
                  <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                     <img
                        alt={`Imagen del proyecto ${title}`}
                        class="w-fit "
                        loading="lazy"
                        src={image}
                     />
                  </div>
               </div>

               <div class="w-full md:w-1/2 md:max-w-lg">
                  <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                     {title}
                  </h3>
                  <div class="flex flex-wrap mt-2">
                     <ul class="flex flex-row mb-2 gap-x-2 w-full">
                        {techs.map((tag) => (
                           <li>
                              <span
                                 class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                              >
                                 <tag.icon class="size-4" />
                                 {tag.name}
                              </span>
                           </li>
                        ))}
                     </ul>

                     <p class="mt-2 w-full text-gray-700 dark:text-gray-400">
                        {description}
                     </p>
                     <footer class="flex items-end justify-start mt-4 gap-x-4">
                        {github && (
                           <LinkButton href={github}>
                              <GitHub class="size-6" />
                              Code
                           </LinkButton>
                        )}
                        {link && (
                           <LinkButton href={link}>
                              <Link class="size-4" />
                              Preview
                           </LinkButton>
                        )}
                     </footer>
                  </div>
               </div>
            </article>
         ))
      }
   </div>
</SectionContainer>
