---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SobreMiIcon from "../components/icons/SobreMiIcon.astro";
interface Props {
   TEXTS: string[];
}
const { TEXTS } = Astro.props;
---

<SectionContainer aditionalClass="" id={TEXTS[4]}>
   <div class="flex gap-3 items-center">
      <SobreMiIcon />
      <SectionTitle title={TEXTS[0]} />
   </div>
   <div class="flex w-full mt-4">
      <div class="flex flex-col gap-4 md:gap-8 items-center lg:flex-row">
         <div class="flex gap-6 flex-col text-black dark:text-white">
            <p>
               {TEXTS[1]}
            </p>

            <p>
               {TEXTS[2]}
            </p>

            <p>
               {TEXTS[3]}
            </p>
         </div>
         <img
            class="object-cover order-1 w-[75%] md:w-64 h-full p-1 bg-gray-300 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
            src="/fotos-mias/frente-auditorio-compressed.webp"
            alt="Foto Fausto Perfil"
         />
      </div>
   </div>
</SectionContainer>
